body {
    background-color: #759912f8;
}
.right-section {
    display: flex;
    justify-content: right; 
    position: fixed;
    left : 1118px;
    top : 140px;
   
}
.filter-section{
    position: fixed;
    top : 550px;
    left : 1120px;
}
.table-section{
    position: fixed;
    left: 600px;
    top: 140px;
    color: white;
}
h1{
    font-size: 64px;
    color : rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
}

h2{
    font-size: 32px;
    color : rgb(0, 0, 0);
}

