<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>

       <link href="{{url_for('static', filename='style.css')}}" rel = "stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Expense Tracker</h1>

        <!-- Expense Form -->
        <h2> Add an Expense </h2>
        <form method="POST">
            <div class="col-4">
                <input required name="description" class="form-control" placeholder="Description">
            </div>
            <div class="col-2">
                <input required type="number" step="0.01" name="amount" class="form-control" placeholder="Amount">
            </div>
            <div class="col-2">
                <input required type="date" name="date" class="form-control" value="{{ date }}">
            </div>
            <div class="col-2">
                <select name="category" class="form-control">
                    <option>Food</option>
                    <option>Transport</option>
                    <option>Bills</option>
                    <option>Investment</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-success w-100">Add</button>
            </div>
        </form>
        <h3>Grand Total: ${{ "%.2f"|format(grand_total) }}</h3>
        <h3>Highest Category Spending: ${{ "%.2f"|format(high) }} on {{high_category}}</h3>
        <h3>Lowest Category Spending: ${{ "%.2f"|format(low) }} on {{low_category}}</h3>
        <!-- Expense Table -->
    <div class = "table-section" style="max-height: 500px; overflow-y: auto;">
        <table class="table table-dark table-striped">
             <thead style="position: sticky; top: 0; z-index: 10; background-color: #212529;"></thead>
                <tr>
                    <th>Date |</th>
                    <th>Description |</th>
                    <th>Category |</th>
                    <th>Amount |</th>
                    <th>Action |</th>
                </tr>
            </thead>
            <tbody>
                {% for e in expenses %}
                <tr>
                    <td>{{ e.date }}</td>
                    <td>{{ e.description }}</td>
                    <td>{{ e.category }}</td>
                    <td>${{ "%.2f"|format(e.amount) }}</td>
                    <td>
                        <a href="/delete/{{ e.id }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <!-- Spending Visualization and Filters -->
    <div class = "filter-section">
        <h3>Total: ${{ "%.2f"|format(total) }}</h3>
        <h4>Filter by:</h4>
    <form method="GET" class="mb-4">
        <select name="filter_categories" class="form-control" multiple size = 5>
            <option value="Food" {% if 'Food' in selected_categories %}selected{% endif %}>Food</option>
            <option value="Transport" {% if 'Transport' in selected_categories %}selected{% endif %}>Transport</option>
            <option value="Bills" {% if 'Bills' in selected_categories %}selected{% endif %}>Bills</option>
            <option value="Investment" {% if 'Investment' in selected_categories %}selected{% endif %}>Investment</option>
            <option value="Other" {% if 'Other' in selected_categories %}selected{% endif %}>Other</option>
        </select>
        <h4>Hold Ctrl (Cmd on Mac) to select multiple categories</h4>
        <button type="submit" class="btn btn-primary mt-2">Apply Filter</button>
</form>
        
    </div>
    <div class="right-section">
    <div id="monthlyChart"></div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script>
            const plotData = {{ graphJSON | safe }};
            Plotly.newPlot('monthlyChart', plotData.data, plotData.layout);
        </script>
        
    </div>
</body>

</html>